<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @publication.article %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
